@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Nerko+One&display=swap');

* {
  font-family: 'Caveat', cursive;
}

.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bem-vindo {
  margin-bottom: 1vh;
}

.neumorphism {
  min-height: 60vh;
  width: 40%;
  border-radius: 50px;
  background: #dddddd;
  box-shadow: 20px 20px 60px #b1b1b1, -20px -20px 60px #dddddd;
  padding: 5px 2px 2px 2px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.characters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.character {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3px;
}

.button {
  border: none;
  margin: 0.5vw;
  height: 9vw;
  width: 9vw;
  background-color: #fcfcfd;
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  transition: box-shadow 0.15s, transform 0.15s;
  touch-action: manipulation;
}

.button:hover {
  background: #888;
  border: none;
  margin: 0.5vw;
  height: 9vw;
  width: 9vw;
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button.selected {
  padding: 6px;
  margin: 0.5vw;
  height: 9vw;
  width: 9vw;
  background: #888;
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.button.disabled {
  margin: 0.5vw;
  height: 9vw;
  width: 9vw;
  cursor: not-allowed;
}

.button-start {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.button-start.ready {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Caveat', cursive;
  width: 70px;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin-bottom: 15px;
}

.button-start.ready:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-start.ready:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.link {
  overflow: hidden;
}

img {
  width: 90%;
  height: 90%;
}
